<table id="items" class="table-auto w-full">
  <tbody>
    <% @items.each_with_index do |item, index| %>
      <tr class="flex justify-between <%= "bg-blue-200" if index.even? %>">
        <td><%= item %></td>
        <% if items_type == "new" %>
          <td class="mr-4"><%= link_to "Select", new_dashboard_path(selection: item), class: "underline" %></td>
        <% elsif items_type == "edit" %>
          <td class="mr-4"><%= link_to "Select", edit_dashboard_index_path(selection: item), class: "underline" %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
