<table id="items" class="table-auto">
    <tbody >
        <% @items.each do |item| %>
            <tr>
                <td><%= item %></td>
                <td>Select</td>
            </tr>
        <% end %>
    </tbody>
</table>
