<table id="items" class="table-auto w-full">
  <tbody>
    <% @items.each_with_index do |item, index| %>
      <tr class="flex justify-between <%= "bg-blue-200" if index.even?%>">
        <td><%= item %></td>
        <td class="mr-4"><%= link_to "Select", new_dashboard_path(selection: item), class: "underline" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
