<%= form_with url: search_dashboard_index_path, class: "flex gap-8 justify-center items-center", data: { controller: "dashboard", dashboard_target: "form" } do |form| %>
    <div class="flex w-full items-center gap-4">
        <%= form.text_field :query, placeholder: "Search for models", autocomplete: "off", class: "flex-grow", "data-action": "input->dashboard#search" %>
        <%= form.hidden_field :items_type, value: @items_type %>
    </div>
<% end %>