<div class="prose">
  <table>
    <thead>
      <tr>
        <td>Item</td>
        <td>Command</td>
        <td>Texture</td>
      </tr>
    </thead>
    <tbody>
      <% @item_models.each do |model| %>
        <tr>
          <td><%= model["parent"] %></td>
          <td><span class="bg-gray-700 text-white p-1 rounded-sm font-mono">/trigger CustomModelData set <%= model["uid"] %></span></td>
          <td><%= image_tag('boatcoin.png') %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
