<div class="bg-blue-100 rounded">
  <div class="flex flex-col gap-4 p-8">
    <div>
      <h1 class="text-3xl">Your texture has been uploaded!</h1>
      <p>
        You need to run <span class="bg-gray-700 text-white p-1 rounded-sm font-mono">/rp</span> to refresh the textures.
      </p>
    </div>
    <div>
      <p><strong>Texture uploaded:</strong> <%= @name %></p>
      <p>To use your texture, please hold the <strong><%= @item %></strong> in your hand and run:</p>
      <span class="bg-gray-700 text-white p-1 rounded-sm font-mono">/trigger CustomModelData set <%= @uid %></span>
    </div>
    <div>
      <p class="text-red-600"><strong>Keep a note of this command! Currently there is no way of reverse looking up the Model ID without going through the pack itself.</strong></p>
      <%= link_to "Back", dashboard_index_path, class: "underline" %>
    </div>
  </div>
</div>
